// MIXINS

// Include block and modifier

@mixin b($block) {
    &__#{$block} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

// Mixin to create the numbered circle
@mixin circle-numbered($number: 1, $bg-color: $clr-primary, $color: $clr-white, $size: 25px) {
    position: relative;
    width: $size;
    height: $size;
    background-color: $bg-color;
    border-radius: 50%;
    &::before {
        content: "#{$number}";
        color: $color;
        position: absolute;
        left: 33%;
        top: 20%;
        font-size: 15px;
    }
}

// Mixin to insert breakpoints
@mixin breakpoint($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}