// All the variables here

//colors

$clr-primary      : #9356DC;
$clr-secondary    : #FF79DA;
$clr-tertiary     : #99E2D0;
$clr-white        : #fff;
$clr-black        : #000;
$clr-grey--dark   : #EDEDED;
$clr-grey--light  : #F7F7F7;

// fonts weight

$fw--thin          : 100;
$fw--light         : 300;
$fw--regular       : 400;
$fw--bold          : 700;
$fw--black         : 900;


