// All the variables here

//COLORS

$clr-primary      : #9356DC;
$clr-secondary    : #FF79DA;
$clr-tertiary     : #99E2D0;
$clr-white        : #fff;
$clr-black        : #000;
$clr-grey--dark   : #EAEAEA;
$clr-grey--light  : #F6F6F6;
$clr-tertiary--new: darken($clr-tertiary, 30%);
$clr-placeholder  : darken($clr-grey--dark, 65%);
$clr-text--grey   : rgba($clr-black, 0.5);
$clr-title--menu  : rgba($clr-black, 0.8);       

// BACKGROUND COLORS
$bg-clr--btn      : linear-gradient(to bottom right, $clr-secondary, $clr-primary);         
$bg-btn--hover    : linear-gradient(to bottom right, lighten($clr-secondary, 5%), lighten($clr-primary, 5%));
$bg-heart         : linear-gradient(to top right, rgba($clr-primary,0), rgba($clr-secondary,0));
$bg-heart--hover  : linear-gradient(to top right, rgba($clr-primary,1), rgba($clr-secondary,1));
$bg-card--hover   : lighten($clr-primary, 35%);

// FONT WEIGHTS

$fw--thin         : 100;
$fw--light        : 300;
$fw--regular      : 400;
$fw--bold         : 700;
$fw--black        : 900;

// FONTS FAMILY

$font-family--title: "Shrikhand", cursive;
$font-family--text : "Roboto", sans-serif;

// FONTS SIZE 

$fs--text          : 16px;
$fs--line          : 24px;
$line-height       : 1.2;

// SHADOWS
$card-shadow       : 0 4px 15px rgba(0,0,0,0.2);
$btn-shadow        : 0 2px 5px 3px rgba(0,0,0,0.3);
$btn-shadow--hover : 0 3px 5px 5px rgba(0,0,0,0.3);

// HEIGHTS
$header-height     : 13vh;
$main-height       : 32vh;

// MARGINS
$card-gap          : 25px;
$margin-bottom     : 50px;

// Border radius
$btn-radius        : 30px;
$card-radius       : 15px;
// Breakpoints
$breakpoints : (
    tablet: 768px, 
    laptop: 992px, 
    desktop:1200px);

// Background Images

$bg-images : (
    1: "la_palette.jpg",
    2: "la_note.jpg",
    3: "france.jpg",
    4: "delice.jpg"
)

// ANIMATIONS   


