// Button Rules

.btn {
    width: fit-content;
    height: fit-content;
    padding: rem(16px) rem(20px);
    border-radius: $btn-radius;
    box-shadow: $btn-shadow;
    border: none;
    background: $bg-clr--btn;
    color: $clr-white;
    font-weight: $fw--bold;
    font-size: rem(15px);
    transition: box-shadow 0.4s ease-in-out;
    &:hover {
        box-shadow: $btn-shadow--hover;
        background: $bg-btn--hover;
    }
    @include breakpoint(tablet) {
        font-size: rem(20px);
        padding: rem(20px) rem(24px);
    }
}
