// Rules for the card

.card {
    width: 95vw;
    max-width: 400px;
    margin: 0 auto rem(14px);
    border-radius: $card-radius;
    background-color: $clr-white;
    box-shadow: $card-shadow;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        .card__button {
            width: 60px;
        }
    }
    &:hover {
        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        > .card__button {
            .fa-circle-check {
                animation: circle-check-rotation $duration $timing forwards;
            }
        }
    }
   
    @include breakpoint(tablet) {
        width: 400px;
    }
    @include b(text) {
        flex: 1;
        padding: 13px 25px 13px 10px;
        overflow: hidden;
    }
    @include b(description) {
        display: flex;
        justify-content: space-between;
        color: rgba($clr-black, 0.8);
        font-size: 15px;
        @include m(long) {
            font-size: 14px;
        }
    }
    h4 {
        margin: 0 55px 5px 0;
        @include breakpoint(laptop) {
            white-space: nowrap;
        }
    }
    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span {
        font-weight: $fw--bold;
        margin-left: 14px;
    }

    @include b(button) {
        width: 0;
        transition: $transition;
        background-color: $clr-tertiary;
        overflow: hidden;
        .fa-circle-check {
            position: relative;
            left: 30%;
            top: 35%;
            font-size: 21px;
            color: rgba($clr-white, 1);
        }
    }
}

