// Rules for the card

.card {
    width: 95vw;
    max-width: 400px;
    // height: auto;
    position: relative;
    margin: auto;
    margin-bottom: rem(14px);
    border-radius: $card-radius;
    background-color: $clr-white;
    box-shadow: $card-shadow;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        p,
        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            animation: move-left--block 10s $timing forwards;
        }
        span {
            animation: move-left--span $duration $timing forwards;
        }
        > .card__button {
            animation: move-left $duration $timing forwards;
            
            .fa-circle-check {
                animation: circle-check-rotation $duration $timing forwards;
            }
        }
    }
   
    @include breakpoint(tablet) {
        width: 400px;
    }
    @include b(text) {
        position: relative;
        width: 100%;
        padding: rem(13px) 0 rem(13px) rem(10px);
    }
    @include b(description) {
        width: 100%;
        position: relative;
        display: flex;
        color: rgba($clr-black, 0.8);
        @include m(long) {
            font-size: 14px !important; // Paragraph too long with different font size
        }
    }
    h4 {
        width: 100%;
        margin: 0 0 3px 0;
        @include breakpoint(laptop) {
            white-space: nowrap;
        }
    }
    p {
        width: 100%;
        font-size: 15px;
        white-space: nowrap;
        margin-right: 0;
        animation: move-right--block 5s $timing forwards;
    }
    span {
        position:absolute;
        right: 10px;
        font-size: 14px;
        font-weight: $fw--bold;
        transform: translateX(50px);
        animation: move-right--span $duration $timing;

    }

    @include b(button) {
        position: relative;
        width: rem(70px);
        border-radius: 0 $card-radius $card-radius 0;
        background-color: $clr-tertiary;
        transform: translateX(rem(70px));
        animation: move-right $duration $timing forwards;
        overflow: hidden;
        .fa-circle-check {
            position: relative;
            left: 30%;
            top: 35%;
            font-size: 21px;
            color: rgba($clr-white, 1);
        }
    }
}

