// Rules for the card

.card {
    width: 100%;
    max-width: 375px;
    height: rem(70px);
    position: relative;
    margin: auto;
    margin-bottom: rem(14px);
    border-radius: $card-radius;
    background-color: $clr-white;
    box-shadow: $card-shadow;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        p,
        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &:hover > .card__button {
        width: rem(70px);
        .fa-circle-check {
            animation: circle-check-rotation $duration $timing forwards;
        }
    }
    @include breakpoint(tablet) {
        width: 400px;
    }
    @include b(text) {
        position: relative;
        width: 100%;
        padding: rem(13px) 0 rem(13px) rem(10px);
    }
    @include b(description) {
        position: relative;
        display: flex;
        color: rgba($clr-black, 0.8);
    }
    h4 {
        width: 80%;
        margin: 0 0 3px 0;
        white-space: nowrap;
    }
    p {
        width: 80%;
        font-size: 15px;
        white-space: nowrap;
    }
    span {
        position:absolute;
        right: 20px;
        font-size: 15px;
        font-weight: $fw--bold;
        margin-right: 10px;
    }

    @include b(button) {
        position: relative;
        width: 0;
        height: 100%;
        border-radius: 0 $card-radius $card-radius 0;
        background-color: $clr-tertiary;
        transition: $transition;
        overflow: hidden;
        .fa-circle-check {
            position: relative;
            left: 30%;
            top: 35%;
            font-size: rem(21px);
            color: rgba($clr-white, 1);
        }
    }
}