// Rules for the loader

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba($clr-grey--dark, 1);
    animation: loader-disappearing 3s forwards;
    .fa-spinner {
        position: relative;
        font-size: rem(220px);
        color: $clr-tertiary;
        top: 30%;
        animation: loading 1s infinite;
    }
}
