// Operation Card Rules

.operations__card {
    position: relative;
    width: 95%;
    max-width: 400px;
    margin: auto;
    height: 75px;
    padding-top: 5px;
    background-color: $clr-grey--dark;
    margin-bottom: rem($card-gap);
    border-radius: 20px;
    box-shadow: $card-shadow;
    
    div {
        position: relative;
        top: 35%;
        left: -12px;
    }
    p {
        text-align: center;
        font-weight: $fw--bold;
    }

    i {
        font-size: 20px;
        color: $clr-text--grey;
        position: absolute;
        left: 10%;
    }

    &:hover {
        background-color: $bg-card--hover;
        i {
            color: $clr-primary;
            font-size: 18px;
        }
    }
}
