// Operation Card Rules

.operations__card {
    position: relative;
    width: 95%;
    max-width: 400px;
    margin: auto;
    height: 75px;
    padding-top: 5px;
    background-color: $clr-grey--dark;
    margin-bottom: rem($card-gap);
    border-radius: 20px;
    box-shadow: $card-shadow;
    transition: all $duration ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: $bg-card--hover;
        i {
            color: $clr-primary;
            font-size: 18px;
        }
    }
    @include breakpoint(tablet) {
        padding-top: 2px;
        margin-bottom: rem($card-gap * 2);
    }
    // Position the numbered circle
    div {
        position: relative;
        top: 35%;
        left: -12px;
    }
    p {
        text-align: center;
        font-weight: $fw--bold;
        @include breakpoint(tablet) {
            font-size: rem(20px);
        }
    }

    i {
        font-size: 20px;
        color: $clr-text--grey;
        position: absolute;
        left: 10%;
        @include breakpoint(tablet) {

        }
    }
}
