// Base


*,
*::before,
*::after {
    box-sizing: border-box;
}

*::first-letter {
    text-transform: uppercase;
}

body {
    font-family: $font-family--text;
    color: $clr-black;
    line-height: $line-height;
}

h1, h2, h3, h4 {
    font-family: $font-family--title;
}

h1 {
    font-size: rem(30px);
    &:first-letter {
        text-transform: lowercase;
    }
}

h2 {
    font-size: rem(24px);
}

h3 {
    font-size: rem(23px);
    font-family: $font-family--text;
    font-weight: $fw--bold;
}

h4 {
    font-size: rem(14px);
}

a, a:visited, a:active{
    text-decoration: none;
    font-size: rem(12px);
}