// Base


*,
*::before,
*::after {
    box-sizing: border-box;
}

*::first-letter {
    text-transform: uppercase;
}

body {
    font-family: $font-family--text;
    color: $clr-black;
    line-height: $line-height;
    @include breakpoint(desktop) {
        width: 70vw;
        margin: auto;
    }
}

h1, h2, h4 {
    font-family: $font-family--title;
}

h1 {
    font-size: rem(30px);
    &:first-letter {
        text-transform: lowercase;
    }
    @include breakpoint (tablet) {
        font-size: rem(34px);
    }
    @include breakpoint(laptop) {
        font-size: rem(40px);
    }
}

h2 {
    font-size: rem(24px);
    @include breakpoint(tablet) {
        font-size: rem(30px);
    }
    @include breakpoint(laptop) {
        font-size: rem(34px);
    }
}

h3 {
    font-size: rem(23px);
    font-family: $font-family--text;
    font-weight: $fw--bold;
    @include breakpoint(tablet) {
        font-size: rem(27px);
    }
    @include breakpoint(laptop) {
        font-size: rem(31px);
    }
}

h4 {
    font-size: rem(16px);
    @include breakpoint(tablet) {
        font-size: rem(20px);
    }
    @include breakpoint(laptop) {
        font-size: rem(24px);
    }
}

a, a:visited, a:active{
    text-decoration: none;
    font-size: rem(12px);
    @include breakpoint(tablet) {
        font-size: rem(16px);
    }
    @include breakpoint(laptop) {
        font-size: rem(20px);
    }
}