*,
*::before,
*::after {
  box-sizing: border-box;
}

*::first-letter {
  text-transform: uppercase;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  line-height: 1.2;
}

h1, h2, h4 {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-size: 1.875rem;
}
h1:first-letter {
  text-transform: lowercase;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4375rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
}

a, a:visited, a:active {
  text-decoration: none;
  font-size: 0.75rem;
}

.btn {
  width: fit-content;
  height: fit-content;
  padding: 1rem 1.25rem;
  border-radius: 22px;
  box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.3);
  border: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  font-weight: 700;
  font-size: 0.9375rem;
  transition: box-shadow 0.4s ease-in-out;
}
.btn:hover {
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
}

.operations__card {
  position: relative;
  width: 95%;
  max-width: 400px;
  margin: auto;
  height: 75px;
  padding-top: 5px;
  background-color: #EAEAEA;
  margin-bottom: 1.5625rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.operations__card div {
  position: relative;
  top: 35%;
  left: -12px;
}
.operations__card p {
  text-align: center;
  font-weight: 700;
}
.operations__card i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10%;
}
.operations__card:hover {
  background-color: #f2eafb;
}
.operations__card:hover i {
  color: #9356DC;
  font-size: 18px;
}

.circle-1 {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
}
.circle-1::before {
  content: "1";
  color: #fff;
  position: absolute;
  left: 33%;
  top: 20%;
  font-size: 15px;
}

.circle-2 {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
}
.circle-2::before {
  content: "2";
  color: #fff;
  position: absolute;
  left: 33%;
  top: 20%;
  font-size: 15px;
}

.circle-3 {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
}
.circle-3::before {
  content: "3";
  color: #fff;
  position: absolute;
  left: 33%;
  top: 20%;
  font-size: 15px;
}

.resto-card {
  position: relative;
  width: 100%;
  max-width: 400px;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.resto-card img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.resto-card__new {
  position: absolute;
  background-color: #99E2D0;
  color: #32b091;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 700;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.resto-card__description {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}
.resto-card__description h4 {
  margin-bottom: 5px;
}
.resto-card__description p {
  font-size: 1.125rem;
  font-weight: 300;
}
.resto-card__description i {
  font-size: 24px;
}
.resto-card__description i:hover {
  background: linear-gradient(to top right, #9356dc, #ff79da);
}

.header {
  height: 13vh;
  background-color: #fff;
}
.header__logo {
  text-align: center;
  margin: 10px 0 0 0;
  position: relative;
  top: 10%;
}
.header__form input {
  height: 3.125rem;
  width: 100vw;
  border-top: 2px solid #d1d1d1;
  border-bottom: 1px solid #EAEAEA;
  border-left: none;
  border-right: none;
  background-color: #EAEAEA;
  padding-left: 40%;
  font-size: 1rem;
}
.header__form input::placeholder {
  text-transform: capitalize;
  color: #444444;
  font-weight: 900;
  font-size: 1rem;
}
.header__form input:focus {
  outline-color: #99E2D0;
  border: none;
}
.header__form i {
  position: relative;
  left: 30%;
  top: 35px;
  color: #444444;
}

footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #383838;
  justify-content: space-around;
  padding: 1.5625rem;
}
footer h4 {
  margin-bottom: 1.25rem;
}
footer li {
  margin-bottom: 10px;
}
footer li:first-child i {
  margin-right: 10px;
}
footer li:nth-child(2) i {
  margin-right: 8px;
}
footer i {
  font-size: 0.75rem;
}
footer a {
  color: #fff;
  font-size: 16px;
}
footer a::first-letter {
  text-transform: uppercase;
}

.main {
  padding: 3.125rem 1.5625rem;
  text-align: center;
  background-color: #F6F6F6;
  margin-bottom: 3.125rem;
}
.main__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0 0 1.5625rem 0;
}
.main__subtitle {
  margin-bottom: 1.875rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
.main button {
  margin-bottom: 1.25rem;
}

.operations {
  width: 90vw;
  margin: auto;
  margin-bottom: 3.75rem;
}
.operations__title {
  margin-bottom: 1.25rem;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 3.4375rem 20px;
}
.restaurants h3 {
  margin-bottom: 25px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.menu-header__logo {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header__logo a {
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  right: 20%;
}
.menu-header__img {
  width: 100%;
  object-fit: cover;
  position: relative;
  bottom: 5px;
}

.section {
  background-color: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0 0;
  position: relative;
  bottom: 3.75rem;
  padding: 2.1875rem 1.25rem;
}
.section__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
.section h2 {
  font-size: 1.75rem;
}
.section i {
  font-size: 1.625rem;
}
.section h3 {
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 100;
}
.section .line {
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #99E2D0;
  margin: 0.25rem 0 0.625rem 0;
}
.section .btn {
  width: 185px;
}

/*# sourceMappingURL=style.css.map */
