// Footer Rules

footer {
    height: 17vh;
    display: flex;
    flex-direction: column;
    color: $clr-white;
    background-color: darken($clr-grey--dark, 70%);
    justify-content: space-around;
    padding: rem($card-gap);
    h4 {
        margin-bottom: rem(10px);
    }

    i {
        font-size: rem(10px);
    }
    li:first-child i {
        margin-right: 10px;
    }
    li:nth-child(2) i{
        margin-right: 8px;
    }

    a {
        color: $clr-white;
        &::first-letter {
            text-transform: uppercase;
        }
    }




}