// Footer Rules

footer {
    display: flex;
    flex-direction: column;
    color: $clr-white;
    background-color: darken($clr-grey--dark, 70%);
    justify-content: space-around;
    padding: rem($card-gap);
    @include breakpoint(tablet) {
        padding: rem($card-gap * 1.5);
    }
    h4 {
        margin-bottom: rem(20px);
    }
    li {
        margin-bottom: 10px;
        &:first-child i {
            margin-right: 10px;
        }
        &:nth-child(2) i{
            margin-right: 8px;
        }
    }
    i {
        font-size: rem(12px);
    }
    
    a {
        color: $clr-white;
        font-size: rem(16px);
        &::first-letter {
            text-transform: uppercase;
        }
    }
}