// Operation Section

.operations {
    width: 90%;
    margin: auto;
    margin-bottom: rem($margin-bottom + 10px);
    @include b(title) {
        margin-bottom: rem(20px);
        @include breakpoint(tablet) {
            text-align: center;
            margin-bottom: rem(40px);
        }
    }
}