// HEADER WELCOME PAGE

.header {
    height: $header-height;
    background-color: $clr-white;
    margin-bottom: rem(10px);
    @include b(logo) {
        text-align: center;
        margin: 10px 0 0 0;
        position: relative;
        top: 10%;
    }
    @include b(form) {
        input {
            height: rem(50px);
            width: 100vw;
            border-top: 2px solid darken($clr-grey--dark, 10%);
            border-bottom: 1px solid $clr-grey--dark;
            border-left: none;
            border-right: none;
            background-color: $clr-grey--dark;
            padding-left: 40%;
            font-size: rem(16px);
            &::placeholder {
                text-transform: capitalize;
                color: $clr-placeholder;
                font-weight: $fw--black;
                font-size: rem(16px);
            }
            &:focus {
                outline-color: $clr-tertiary;
                border: none;
            }
        }
        i {
            position: relative;
            left: 30%;
            top: 35px;
            color: $clr-placeholder;
        }
    }
}