// Rules for the section menu of the pages

.section {
    background-color: $clr-grey--light;
    position: relative;
    padding: 0 0 rem(30px) 0;
    &::before {
        content: " ";
        position: absolute;
        top: rem(-70px);
        left:0;
        height: rem(70px);
        width: 100%;
        background-color: $clr-grey--light;
        border-radius: rem(40px) rem(40px) 0 0;

    }
    @include b(title) {
        position: relative;
        bottom: rem(35px);
        padding: 0 rem(5px) 0 rem(20px);
        display: flex;
        justify-content: space-between;
    }
    h3,h4 {
        font-family: $font-family--text;
    }

    h2 {
        font-size: rem(28px);
        
    }
    i {
        font-size: rem(26px);
    }

    h3 {
        font-size: rem(16px);
        text-transform: uppercase;
        color: $clr-title--menu;
        font-weight: $fw--light;
        margin: 0 0 0 rem(20px);
        @include breakpoint(tablet) {
            text-align: center;
        }
    }
    h4 {
        font-size: 17px;
        font-weight: $fw--bold;
    }
    .line {
        width: rem(40px);
        height: rem(3px);
        background-color: $clr-tertiary;
        margin: rem(4px) 0 rem(16px) rem(20px);
        @include breakpoint(tablet) {
            height: rem(4px);
            margin: rem(6px) auto rem(14px);
        }
    }
    .button-div {
        width: rem(185px);
        margin: rem(40px) auto;
        @include breakpoint(tablet) {
            width: rem(220px);
        }
    }
    .btn {
        width: 100%;
        margin-bottom: rem(20px);    
    }
}