// Rules for the menu card

.menu {
    display: grid;
    gap: rem(30px);
    @include breakpoint(tablet) {
        border: 1px solid $clr-tertiary;
        border-radius: $card-radius;
        width: 80%;
        margin: auto;
        padding: rem(24px);
    }
    @include breakpoint(laptop) {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    @include breakpoint(desktop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.appetizers,
.plates,
.desserts {
    opacity: 0;
}

.appetizers {
    animation: cards-appear 0.5s $duration linear forwards;
}

.plates {
    animation: cards-appear 1.5s $duration linear forwards;
}

.desserts {
    animation: cards-appear 2.5s $duration linear forwards;
    @include breakpoint(laptop) {
        grid-column: span 2;
    }
    @include breakpoint(desktop) {
        grid-column: span 1;
    }
}