// Rules for the menu card

.menu {
    display: grid;
    gap: rem(30px);
    @include breakpoint(tablet) {
        border: 1px solid $clr-tertiary;
        border-radius: $card-radius;
        width: 80%;
        margin: auto;
        padding: rem(24px);
    }
    @include breakpoint(laptop) {
        width: 100%;
        grid-template-columns: repeat(auto-fill, 1fr);
        justify-items: center;
    }
    @include breakpoint(desktop) {
        grid-template-columns: repeat(3,1fr);
    }
}

.appetizers,
.plates,
.desserts {
    opacity: 0;
}

.appetizers {
    animation: cards-appear $duration  $timing 1s forwards ;
}

.plates {
    animation: cards-appear $duration  $timing calc($duration + 1s) forwards ;
}

.desserts {
    animation: cards-appear $duration $timing calc($duration + 2s) forwards ;
    @include breakpoint(laptop) {
        grid-column: span 2;
    }
    @include breakpoint(desktop) {
        grid-column: span 1;
    }
}